/*  @Title : Example Page Stylesheet
  * @Author : Amyth Arora (aka Amit Arora)
  * @Author Email: codigosenor@gmail.com
*/

body {
  color:#646464;
  background: #ededed;
  font-size:12px;
}

body, .wrapper, #container {
  margin:0 auto;
}

.left {
  float:left;
}

.right {
  float:right;
}

.clear {
  clear:both;
}

.wrapper {
  width:1000px;
}

#header {
  min-height:50px;
  vertical-align:middle;
  background: #454545;
  box-shadow: 0px 3px 2px rgba(0,0,0,0.5);
  color:#fff;
}

#logo {
  font-size: 18px;
  font-family: tahoma;
  padding-top:10px;
}

#twitter-box {
  position:fixed;
  bottom:15%;
  right:15%;
  padding: 5px 15px;
  padding-left: 32px;
  background: #f9f9f9 url(../images/twitter.png) 5px center no-repeat;
  color:#000;
  font-size:12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#twitter-box a, #twitter-box a:visited {
  color: #444;
  text-decoration:none;
}

#mainbody {
  margin-top:10px;
}
